* {
  margin: 0;
  padding: 0
}

body {
	color: #555555;
	font-family: Arial,Sans-serif;
	font-size: 12px;	
	overflow-x: hidden;
	padding: 10px;
	width: 460px;	
}

a {
	color: #2276BB;	
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 16pt;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(210, 210, 210, 0.8);	
}

li {
	border-bottom: 1px solid #EEEEEE;		
	clear: both;
	list-style-type: none;
	padding: 10px;
	vertical-align: middle;
	min-height: 48px;	
	display: none;
}

li:first-child {
	border-top: 1px solid #EEEEEE;
}

li.found {
	display: block;
}

li:hover {
	background-color: #FAFAFA;
}

#twitterList .image {
	float: left;
	height: 48px;
	padding-right: 5px;
	width: 48px;
}

.button {
	border: 1px solid #2276BB;	
	display: block;
	padding: 3px;
	text-align: center;
	-webkit-border-radius: 5px;	
	-webkit-box-shadow: 0 1px 2px #888;	
	width: 40px;
	float: right;
}

.description {
	font-style: italic;	
}

.fullName {
	font-size: 14px;	
	text-shadow: 1px 1px 0 rgba(210, 210, 210, 0.8);
}

#loading, #fail {
	text-align: center;
}

.name {
	font-size: 10px;	
}